:root {
    --azul-opa: rgb(29, 10, 171);
    --azul-escuro-opa: rgb(14, 0, 124);
    --laranja-opa: rgb(172, 124, 20);
    --laranja-escuro-opa: rgb(137, 95, 4);
    --verde-agua: rgb(58, 187, 161);
    --cor-preta: rgb(29, 27, 27);
    --cor-branca: rgb(207, 195, 195);
}

body {
    background-image: linear-gradient(to left, var(--azul-opa), var(--laranja-opa));
}

.caixa_principal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 25%;
    background-color: transparent;
}

.caixa_fieldset {
    border: 3px solid var(--cor-preta);
    border-radius: 8px;
   
}

.nome_time {
    border: 4px solid var(--cor-preta);
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    color: var(--verde-agua);
}

.inputs {
    position: relative;
}

.input_user {
    background: none;
    border: none;
    border-bottom: 1px solid var(--cor-branca);
    outline: none;
    color: var(--cor-branca);
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.input_user:focus ~ .input_label, .input_user:valid ~ .input_label {
    top: -20px;
    font-size: 14px;
    font-weight: bold;
    color: var(--verde-agua);
}

.input_label {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

#nascimento {
    padding: 7px;
    border: none;
    border-radius: 4px;
}

#posicao {
    padding: 7px;
    border: none;
    border-radius: 4px;
}

#botao_submit {
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 8px;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--azul-opa), var(--laranja-opa));
    color: var(--cor-branca);
    font-weight: bold;
}

#botao_submit:hover {
    transition: 0.5s;
    background-image: linear-gradient(to right, var(--azul-escuro-opa), var(--laranja-escuro-opa));
}